 html, body {
    height: 50px;
    margin: 10px;
    padding: 0;
    margin-left:50px;
    margin-right:50px;
}

#map {
    height: 600px;
    width: 500px;
}

#checkbox-row{
	float:right ;
}


#info{
    
    height:600px;
    text-align: center;
}

#protocol_dropdown{
	: 150px;
}

.highlight{
 color: #00b3e7;
}






