 html, body {
    height: 50px;
    margin: 10px;
    padding: 0;
}

#map {
    height: 600px;
    width: 800px;
    float: left;
}

#info-box {
        background-color: white;
        border: 1px solid black;
        bottom: 30px;
        height: 40px;
        width: 40px;
        padding: 10px;
        position: absolute;
        left: 30px;
      }

#info{
    float:right;
    margin-right: 200px;
    height:600px;
    width: 250px; 
    text-align: center;
}

#legend {
    background: white;
    left-padding: 10px;
}

#fibre_legend {
    height: 360px;
    width: 320px;
}



