 html, body {
    height: 50px;
    margin: 10px;
    padding: 0;
    margin-left:50px;
    margin-right:50px;
}

#map {
    height: 500px;
    width: 600px;
}

#info{
    
    height:600px;
    text-align: center;
    float:left;
}

.highlight{
 color: #00b3e7;
}






